ApprovedChanges: ["256a3dc0f1eb7abf","22b66e9a63ba145b","12c1c3a1622fb7cc","1c44824d71b5c502","8e30d75eb6b02ec9","f7efb56ca768b59a","3244def428adeb84",
                  "e4a62b36b122e3dc","80ae9e6205bbf4da","d1e758f8c0d53aab","920a32aae48fadfc","e28e02f2afc1435c","592b02c8c59eabac","6945d51ab1f64602",
                  "10fc3a8409f13e8b","56f57ba70ab09f42","2ac4feb2b67e46c0","484f78bc04c520f0","b06833aec59b4702","f8f7a100070e00c4","eb2d40a21add9dbd",
                  "38aed088743c431e","e3dc79486f65bbfd","99d912f6989c77ba","3bc69adb21972b11","96aa231afd3e914","59b2375130aef5df","42448d531a36a19d",
                  "8980f976020e6f46","2a6230c1d8e2cbdd","2f12dcf68f2f8463","23103ca39c8fb43d","6247a32b8ff6b311","5458d821d32c401","cb0077057b56e137",
                  "70852fd2321ba1c5","d2cafc5ec262f84d","8850900b5d9bcc65","f47fee244932848d","88c74f6aaf78edf","b1e2e1d7012c2111","556cb12b8c458cf0",
                  "17a1cf958f2b3b06","be53b04b01612f32","a5d3405074af9f39","374be3ca8e029b32","86f0ead2480383f","576a7230fab694d7","d6e610032cfaa0c",
                  "db32f358b6e8e2bb","f372e174e1f34c3b","bc47b3d202e8cd0d","86a6abca1a1c16d6","1655d21d5a4cad4","ac4e427097fc5533","6b4d5a114f8066ff",
                  "9482fb9b6a953c48","5778a05e0976a6eb","24e2c7f54d5dd1d","2a8937e50d20faa9","587c629a67ef07ed","9d06d8e0ee4e1113","e624ec802068e711",
                  "943be3ce709a99d3","5b3bb2d2262fe8be","c20c4c7ed8d1711d","b10c6fc7dd9eee7","c121cdaab6c1c698","e12b17f3910be26b","e47bf52e962c90af",
                  "90b8a0c8d2c30e95","e8292a58d2eb08ab","17cf3119ac6879f2","3f31546191c9e6b2","29c96f90edc2458d","f29db2624fd63635","dff6fea2c2d32a5f",
                  "ae1b53fc580ce346","c117bd5db3eeabd6","d06552d71b9ca4cd","4cb333a88af66575","2a580187c312c79a","bf8cf93c55c1eadb","6d877e24991465e4",
                  "b1c8e0148a4a755","2c25abb7c776bd54","a1754e08473bd1fa","4dbab14670fa155d","2a3667a499a23b16","930379d323dd95e8","65efe31656e8814f",
                  "1270cef2e573f846","aeafb38ca9114f12","2a83e3384b45f2d7","91fbb874b3ce2570","74ad51ca63526e1e","defd8406641d53a5"]

IgnoredIdentifiers:
  - logger
ReducedPackageNames:
  - spectypes
  - specssv
  - specqbft
  - types
  - ssv
  - qbft
  - instance
  - controller
Comparisons:
  - Packages:
      Left:
        - ./protocol/v2/ssv/runner
        - ./protocol/v2/types
      Right:
        - ./ssv
    Hints:
      ReconstructSignature: PartialSigContainer.ReconstructSignature

  - Packages:
      Left:
        - ./protocol/v2/qbft/controller
        - ./protocol/v2/qbft/instance
      Right:
        - ./qbft
    Hints:
      BaseCommitValidation: baseCommitValidation
  
  - Packages:
      Left:
        - ./protocol/v2/types
      Right:
        - ./types
    Hints:
      VerifyByOperators: Signature.VerifyByOperators