ApprovedChanges: ["34e8b7999dfb14b5","56ceb03cd44ff702","ccc48c575f7ab4eb","262a19d18869cedd","e710070bfb15d3ab","1c0da45940bfa76f","881fc8fbb6a4edb1","31bc6100f3d4db08","c7ce0261a1b6014f","c4c4caa5d0938b85","60f1d510640499ac","91073f39440ab37f","d308bd7c553ccdcf","bdaf172971637cbe","396137c9cb425893","d4fef6512374c1f5","1bbcbe4e8194370d","59b2375130aef5df","1bd46741a98043b0","417e005d18c1f7d4","14dd874e7df81b37","50cea598241b0bc9","3ddc92a39c324d69","b0934079dcd986cc","e27b9c1ea1c64357","fe62097e8814c106","74a928f5dcb2fdd9","cbbfdb5e68cdac80","6577bf381d78bae2","39ea06bfd1477d2d","7e2550bab51f22b2","87ebd29bd49fc52f","ef39dd5223e0d080","aebb8e4348b6d667","6146023d4d5708a2","fe14e7f0503ea188","fb4cac598a68c592","257c7eb81d6eb245","62547d1b32ce44e3","5be5c4ce7d3212da","960a9c64cd4ec93c","df3771e2589008f9","c8f122c9fb83793e","2c6054db7088bcef","5714652b88e2d44f","7a53b3b037c56325","11587bf00d05a4e2","601862214795ec47","b523eed171e5b6bf","5797f56a84b7ebef","81a60407a3a0ba80","38faed802f80914b","bcb381e843ace421","1067c9a5622c3508","4b58762c0b433442","d293ec1bc61bb707","3e88c3b49d093605","4890ff80c88cc41d","9b70726386e38170","8bbf7eba3fa0cf7e","8cc38593ebe049b6","ef7b63d9848dc185","7f816e2f33da3186","2314d7fa0b387cff","267886c6b07733d7","f9480b2e48319466","98c46ae55d1d4e39","edfd442b4d725fbb","122f053573538a32","d720d714a20833e1","a81c092c985de728","143c7821cd65bcac","9e53c73ee60b1cc2","9d265e99dd31d4f5","70d29c9e7a4ef797","f2972b2906912d3a","c411b0f9f069c032","a037c260bd97c7d2","96631f77414215f5","389037ae98d33f26","b3e7d9382b320d70","3426003abbd5ebf0","22b9026cb0221ce0","e07da5b414afe6a6","50e62cbde34516ee","57c1885b43dd8d19","e8a49856a5edd893","9273478f6feccd62","1cfd3a3660a62879","859884a25fccea80","8651bdc20c1946f3","5a44c960cc4178dd","108b9575f7c1d4bc","5499865be87b7e00","159536003eeddac8","a20ea51df8b7d65b","9133b167cc5a601d","a748ad5c74850749","16ebe47404323cc1","48bfe5cf1e578b47","4366899a2cb05197","730c3e5e59393b7d","5b44a4b425ecc397","df5debc50ec8babc","92a41554b2910bb8","c36c680554dde59f","f265acf7423fa9b1","447feaa5cdc1a010","8ac6baea1b755066","2bc023c7e062f24b","274336ec1127e6c0","ddf404c2905d3b26","8c43f241aeac6d75","832fc9a9a2b71d00","8850900b5d9bcc65","cc22f28953b787ea","3bad6ae11596a574","8f84422a240d889c","82b392ba39c6c594","7975821460ebe1e7","173c505e12aabb8f","47ee0d148148a56f","6707ecfefa5fec21","d5a7389d730464f1","8e4ec8debe331b36","875393173d59b0f2","943be3ce709a99d3","4e22a08543b079b","f66dbe09241b5a4","fd6796ea6d131c3","634abeefa604ee2","e939b25394581c4","6ccbcb02e457e66","e1d82f0619360a5","5a7ad98296703f6","f4ce01b385c68a2","90aac1feca751b0","678c366df2dd8302","902874f1439b6cbe","6fc8a4fe6e10380e","9a904d77eccac8c4","3c68f86d18282872","4cbea5ccb3ba96f9","ad53997a7af4a476","43ca8640bc136b04","b7a9dc3af09265f2","9e33f2c164150c03","8c8fdd2a8066a8a7","78ac98e0a065deb2","3cd8818a0517abfb","80b8aa081b93ec8b","e781436db8f6a346","21b8868ce00f6261","c4f7f025e7a437ff","1656e3e33948c0d3","a2aab6b86cefe217","97df26235b1eabee","a5202339e0e86850","261d0458cc8b956f","a1efe4ea2b85117","3b53ec55fa55f1df","e92e2c9af55c0a91","db32c6c8ef7b0cf6","1f578f6799e515c1","4fb205310012cc98","9031993dbbed4646","12dd40a163e41548","547bf66f36d25667","1961f69f1787dc5d"]

IgnoredIdentifiers:
  - logger
  - ctx
ReducedPackageNames:
  - spectypes
  - specssv
  - specqbft
  - types
  - ssv
  - qbft
  - instance
  - controller
Comparisons:
  - Packages:
      Left:
        - ./protocol/v2/ssv
        - ./protocol/v2/ssv/validator
        - ./protocol/v2/ssv/runner
        - ./protocol/v2/types
      Right:
        - ./ssv
    Hints:
      ReconstructSignature: PartialSigContainer.ReconstructSignature

  - Packages:
      Left:
        - ./protocol/v2/qbft/controller
        - ./protocol/v2/qbft/instance
      Right:
        - ./qbft
    Hints:
      BaseCommitValidation: baseCommitValidation
  
  - Packages:
      Left:
        - ./protocol/v2/types
        - ./utils/threshold
      Right:
        - ./types
    Hints:
      VerifyByOperators: Signature.VerifyByOperators
