# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

.env*
/config/share*
/config/events.yaml
/config/events.local.yaml
/config/config.exporter.yaml
/config/config.local.yaml
/config/config.bootnode.yaml
/config/config.yaml
/config/config*/

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/watcherTasks.xml
.idea/misc.xml
.idea/dictionaries
.idea/codeStyles
.idea/shelf

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

docker-compose-local.yaml

.DS_Store

bin/
/data/
/cli/operator/data/
/db
/scripts/config
/scripts/spec_align_report/data
/scripts/spec_align_report/ssv-spec
.vscode/
patches/
