# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

.env*
/config/share*
/config/events.yaml
/config/events.local.yaml
/config/config.exporter.yaml
/config/config.local.yaml
/config/config.bootnode.yaml
/config/config.yaml
/config/config*/

.idea/

docker-compose-local.yaml

.DS_Store

bin/
/data/
/cli/operator/data/
/db
/scripts/config
/scripts/spec_align_report/data
/scripts/spec_align_report/ssv-spec
.vscode/
patches/

go.work
go.work.sum
