global:
  scrape_interval:     10s
  evaluation_interval: 10s

scrape_configs:
  - job_name: ssv
    metrics_path: /metrics
    static_configs:
      - targets:
    {{-range .}}
        - ssv-node-v2-{{.}}:1500{{.}}
    {{-end}}
  - job_name: ssv_health
    metrics_path: /health
    static_configs:
      - targets:
    {{- range .}}
        - ssv-node-v2-{{.}}:1500{{.}}
    {{- end}}
