name: E2E Test

on:
  workflow_run:
    workflows: [Lint, Unit tests]
    types: [completed]
    branches: [stage, main]
    pull_request:
      branches:
        - "**"

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  e2e:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v3

      - name: Run e2e.sh
        env:
          BEACON_NODE_URL: ${{ secrets.E2E_BEACON_NODE_URL }}
          EXECUTION_NODE_URL: ${{ secrets.E2E_EXECUTION_NODE_URL }}
        run: |
          cd ./e2e/
          chmod +x ./run.sh
          ./run.sh

      - name: clean up
        run: docker compose down -v

      - name: Collect docker logs on failure
        if: failure()
        uses: jwalton/gh-docker-logs@v2
        with:
          dest: './logs'
      - name: Tar logs
        if: failure()
        run: tar cvzf ./logs.tgz ./logs
      - name: Upload logs to GitHub
        if: failure()
        uses: actions/upload-artifact@master
        with:
          name: logs.tgz
          path: ./logs.tgz