name: Lint

on:
  push:
    branches:
      - "**"
#  pull_request:
#    branches:
#      - "**"

  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup make
        run: sudo apt-get update && sudo apt-get install make

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.20.x"

      - name: Run lint-prepare
        run: make lint-prepare

      - name: Run make lint
        run: make lint
