name: Lint

on:
  push:
    branches: [ stage ]

  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup make
        run: sudo apt-get update && sudo apt-get install make

      - name: Run lint-prepare
        run: make lint-prepare

      - name: Run make lint
        run: make lint --timeout 300
