name: Spec Alignment

on:
  workflow_dispatch:

jobs:
  align:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5
        with:
          go-version: "1.24.x"

      - name: Tidy up dependencies
        run: go mod tidy

      - name: Install Differ
        run: cd ./scripts/differ && go install .

      - name: Run Differ
        run: cd ./scripts/spec-alignment && ./differ.sh

      - name: Upload output.diff
        if: failure()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: output.diff
          path: ./scripts/spec-alignment/output.diff
