name: SSV-Signer E2E tests

on:
  push:
    branches:
      - stage
      - main
  pull_request:
    types: [opened, synchronize]

  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.x"

      - name: Run SSV-Signer E2E tests
        run: |
          cd ssvsigner
          make test-e2e
