name: 'Label and close stale PRs'
on:
  schedule:
    - cron: '30 1 * * *'
  workflow_dispatch: # Allows manual triggering

permissions:
  actions: write
  contents: read
  issues: write
  pull-requests: write

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9.1.0
        with:
          days-before-pr-stale: 60
          days-before-pr-close: 30
          stale-pr-message: 'This pull request has been marked as stale due to 60 days of inactivity. It will be closed in 30 days if there are no updates. Please comment if you would like to keep it open.'
          close-pr-message: 'Closing this pull request as it has been inactive for 30 days after being marked stale. You are welcome to reopen it if you wish to continue.'
          stale-pr-label: 'stale'
          # Enable statistics in the logs
          enable-statistics: true